.title
    color: #585858
.subtitle.is-6
    font-size: 1.1rem

.section.is-large
    padding: 13rem 1.5rem    

.button.is-dark
    width: 100%
.hero.is-primary
    background-color: #00D1A9
.content
    padding: 2%

textarea.lined-up, input.is-medium
  background-color: white
  font-size: .8rem
  border-radius: 2px
  border: 1px solid #D3D3D3
