.title.is-3
    margin-bottom: 2rem
.subtitle.is-6
    font-size: 1.1rem

.section.is-large
    padding: 13rem 1.5rem    

.button.is-dark
    width: 100%
.hero.is-primary
    background-color: #00D1A9

body
    padding: 0